<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Member Test</title>
</head>
<body>
	<h1>회원가입 테스트</h1>
	<input type="text" id="signin-email" placeholder="이메일"/>
	<input type="text" id="signin-password" placeholder="패스워드"/>
	<input type="text" id="signin-nickname" placeholder="닉네임"/>
	<button id="signin">회원가입 진행</button>
	
	<h1>로그인 테스트</h1>
	<input type="text" id="login-email" placeholder="이메일"/>
	<input type="text" id="login-password" placeholder="패스워드"/>
	<button id="login">로그인 진행</button>
	
	<h1>회원정보 수정 테스트</h1>
	<input type="text" id="update-email" placeholder="이메일"/>
	<input type="text" id="update-password" placeholder="패스워드"/>
	<input type="text" id="update-nickname" placeholder="닉네임"/>
	<button id="update">회원정보 수정</button>
	
	<h1>회원탈퇴 테스트</h1>
	<input type="text" id="delete-email" placeholder="이메일"/>
	<button id="delete">회원탈퇴</button>
<script>
	// 테스트 편의 유틸 함수
	const addEvent = (id, event, callback) => {
		document.getElementById(id).addEventListener(event, callback);
	};
	
	const getValue = (id) => {
		return document.getElementById(id).value;
	}
	
	// 회원탈퇴 테스트
	addEvent('delete', 'click', () => {
		const member = {
			'email':getValue('delete-email')
		}
		const url = '/test/api/member/delete';
		const request = {
			credentials: 'include',
			method: 'DELETE',
			headers: {
				'Content-Type':'application/json'
			},
			body: JSON.stringify(member)
		}
		
		fetch(url, request)
		.then(response => response.json())
		.then(data => console.log(data));
	});
	
	// 회원가입 테스트
	addEvent('signin', 'click', () => {
		const member = {
			'email': getValue('signin-email'),
			'password': getValue('signin-password'),
			'nickname': getValue('signin-nickname')
		}
		const url = '/test/api/member/signin';
		const request = {
			credentials: 'include',
			method: 'POST',
			headers: { 'Content-Type':'application/json' },
			body: JSON.stringify(member)
		}
		
		fetch(url, request)
		.then(response => response.json())
		.then(data => console.log(data));
	});
	
	// 로그인 테스트
	addEvent('login', 'click', () => {
		const member = {
			'email':getValue('login-email'),
			'password':getValue('login-password')
		};
		const url = '/test/api/member/login';
		const request = {
			credentials: 'include',
			method: 'POST',
			headers: { 'Content-Type':'application/json' },
			body: JSON.stringify(member)
		}
		
		fetch(url, request)
		.then(response => response.json())
		.then(data => console.log(data))
		.catch(err => alert(err.message));
	});
	
	// 회원정보 수정 테스트
	addEvent('update', 'click', () => {
		const member = {
			'email':getValue('update-email'),
			'password':getValue('update-password'),
			'nickname':getValue('update-nickname')
		};
		const url = '/test/api/member/update';
		const request = {
			credentials: 'include',
			method: 'PATCH',
			headers: { 'Content-Type':'application/json' },
			body: JSON.stringify(member)
		};
		
		fetch(url, request)
		.then(response => response.json())
		.then(data => console.log(data));
	});
</script>
</body>
</html>