<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Member TEST</title>
</head>
<body>
	<h1>회원가입 테스트</h1>
	<input type="text" id="signin-email" placeholder="이메일"/>
	<input type="text" id="signin-password" placeholder="패스워드"/>
	<input type="text" id="signin-nickname" placeholder="닉네임"/>
	<button id="signin">회원가입 진행</button>
	
	<h1>로그인 테스트</h1>
	<input type="text" id="login-email" placeholder="이메일"/>
	<input type="text" id="login-password" placeholder="패스워드"/>
	<button id="login">로그인 진행</button>
	
	<h1>회원정보 수정 테스트</h1>
	<input type="text" id="update-password" placeholder="패스워드"/>
	<input type="text" id="update-nickname" placeholder="닉네임"/>
	<button id="update">회원정보 수정</button>
	
<script>
	document.getElementById('signin').addEventListener('click', () => {
		const email = document.getElementById('signin-email').value;
		const password = document.getElementById('signin-password').value;
		const nickname = document.getElementById('signin-nickname').value;
		
		const member = {
			email:email,
			password:password,
			nickname:nickname
		}
		
		const url = '/signin'; const request = {
			credentials: 'include',
			method:'POST',
			headers: {
				'Content-Type':'application/json'
			},
			body:JSON.stringify(member)
		};
		
		fetch(url, request)
		.then(response => response.json())
		.then(data => console.log(data))
	})
	
	let authorizationToken;
	
	document.getElementById('login').addEventListener('click', () => {
		const email = document.getElementById('login-email').value;
		const password = document.getElementById('login-password').value;
		
		const member = {
			email:email,
			password:password
		}
		
		const url = '/login'; const request = {
			credentials: 'include',
			method:'POST',
			headers: {
				'Content-Type':'application/json'
			},
			body:JSON.stringify(member)
		};
		
		fetch(url, request)
		.then(response => response.json())
		.then(data => {
			if(data.success === true) {
				authorizationToken = data.data.accessToken;
			}
			console.log(data);
		})
	})
	
	document.getElementById('update').addEventListener('click', () => {
		const password = document.getElementById('update-password').value;
		const nickname = document.getElementById('update-nickname').value;
		
		const member = {
			password:password,
			nickname:nickname
		};
		
		const url = '/update'; const request = {
			credentials: 'include',
			method: 'PATCH',
			headers: {
				'Content-Type':'application/json',
				'Authorization':`Bearer ${authorizationToken}`
			},
			body: JSON.stringify(member)
		}
		
		fetch(url, request)
		.then(response => response.json())
		.then(data => console.log(data))
	});
	
</script>
</body>
</html>