<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Test</title>
</head>
<body>
	<h1>회원가입 테스트</h1>
	<input type="text" id="email" placeholder="아이디"/>
	<input type="text" id="password" placeholder="패스워드"/>
	<input type="text" id="nickname" placeholder="닉네임"/>
	<button id="signin">회원가입</button>
	
	<h1>로그인 테스트</h1>
	<input type="text" id="login-email" placeholder="아이디"/>
	<input type="text" id="login-password" placeholder="패스워드"/>
	<button id="login">로그인</button>
<script>
	document.getElementById('signin').addEventListener('click', () => {
		const email = document.getElementById('email').value;
		const password = document.getElementById('password').value;
		const nickname = document.getElementById('nickname').value;
		
		fetch('/signin', {
			method: 'POST',
			headers: {
				'Content-Type':'application/json'
			},
			body: JSON.stringify({
				'email':email,
				'password':password,
				'nickname':nickname
			})
		})
		.then(response => response.json())
		.then(data => console.log(data))
		.catch(err => console.error(err));
	});
	
	document.getElementById('login').addEventListener('click', () => {
		const email = document.getElementById('login-email').value;
		const password = document.getElementById('login-password').value;
		
		fetch('/login', {
			method:'POST',
			headers: {
				'Content-Type':'application/json'
			},
			body: JSON.stringify({
				'email':email,
				'password':password
			})
		})
		.then(response => response.json())
		.then(data => console.log(data))
		.catch(err => console.error(err));
	});
</script>
</body>
</html>